img {
    width: 200px;
    height: 250px;
    margin-left: 150px;
}

.health {
    display: inline-block;
    text-align: center;
    margin-left: 150px;
}

#DachiContainer {
    border: solid black 1pt;
    height: 400px;
    width: 500px;
    margin-left: 300px;
}

button {
    margin-left: 173px;
}

#action {
    margin-left: 200px;
}